rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ВНИМАНИЕ: это только пример-заглушка.
    // Для боевого сайта такие правила недостаточны.
    match /settings/{docId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
